<mat-toolbar color="primary">
  <div fxHide.sm  fxHide.md fxHide.lg fxHide.xl>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  </div>
  <div [routerLink]="['/']" routerLinkActive="router-link-active">LOGO</div>
  <div fxFlex fxLayout fxLayoutGap="15px" fxLayoutAlign="flex-end" fxHide.xs>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active"  *ngIf="!isAuth">Login</a>
    <a [routerLink]="['/signup']" routerLinkActive="router-link-active" *ngIf="!isAuth">Sign Up</a>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active"  *ngIf="isAuth" (click)="logout()">Logout</a>
    <a [routerLink]="['/training']" routerLinkActive="router-link-active"  *ngIf="isAuth">Training</a>
  </div>
</mat-toolbar>
