    <mat-list>
      <a mat-list-item [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="closeSidenav()">
        <mat-icon>face</mat-icon> Login
      </a>
      <a mat-list-item [routerLink]="['/signup']" routerLinkActive="router-link-active" (click)="closeSidenav()">
        <mat-icon>input</mat-icon> Sign Up
      </a>
      <a mat-list-item [routerLink]="['/train']" routerLinkActive="router-link-active" (click)="closeSidenav()">
        <mat-icon>fitness_center</mat-icon> Training
      </a>
    </mat-list>

